1.Write code to create a string with your name and print it

In [77]:
#1.Write code to create a string with your name and print it

a=input("enter your name ")
b=str(a)
print("your name is : MR/Ms ",b)
print(type(b))

enter your name nani
your name is : MR/Ms  nani
<class 'str'>

2.write a code to find lenght of a string "hello world"


---

In [79]:
#2.write a code to find lenght of a string "hello world"

a="hello world"
print("it is :",type(a))
print("lenght of string :",len(a))

it is : <class 'str'>
lenght of string : 11

3.write code to slice three letters from string "python programming"

In [81]:
#3.write code to slice three letters from string "python programming"
a=("python programming")
b=str(a)
print(b[:3])

pyt

4.write code to convert string "hello" to upper case

In [ ]:
# 4.write code to convert string "hello" to upper case
a=input("enter the words   ")
print(a.upper())    #originall will b lower ,for an instance it prints capital.

enter the words   hello
HELLO

5.write code to change apple to orange in string "i like apple"

In [ ]:
#5.write code to change apple to orange in string "i like apple"
a="i like apple"
print(a)
print(a.replace("apple","orange"))  # not modified but for an instance print

i like apple
i like orange

6.write a code to creat a list with numbers from 1 to 5 .and print it

In [ ]:

# # 6.write a code to creat a list with numbers from 1 to 5 .and print it

a=(1,2,3,4,5)
print(type(a),a)
b=list(a)
print(type(b),b)
## user defined list
li=[]
x=input("enter the elemnts ")
for i in x :
  li.append(i)
print(li)

<class 'tuple'> (1, 2, 3, 4, 5)
<class 'list'> [1, 2, 3, 4, 5]
enter the elemnts 12345
['1', '2', '3', '4', '5']

 7.write a code to append 10 to the list[1,2,3,4]

In [83]:
# 7.write a code to append 10 to the list[1,2,3,4]

lis=[1,2,3,4]
print("before append",lis)
lis.append(10)   #append format
print("after append lis =",lis)

before append [1, 2, 3, 4]
after append lis = [1, 2, 3, 4, 10]

8.write a code to remove the number 3 from the list [1,2,3,4,5]

In [ ]:
 #8.code to remove in the list

 a=[1,2,3,4,5]
 print("original list a = ",a)
 a.remove(a[2])    #removimg second element
 print("new list will be a =",a)

original list a =  [1, 2, 3, 4, 5]
new list will be a = [1, 2, 4, 5]

9.write code to access the second element in the list ["a","b","c","d"]

In [ ]:
# 9.write code to access the second element in the list ["a","b","c","d"]
a=["a","b","c","d"]
b=a[1]                                    #acccessing 2nd element1
print("the second element is ",b)

the second element is  b

In [ ]:
10.write a code to reverse the list [10,20,30,40,50]

In [85]:
#write a code to reverse the list [10,20,30,40,50]

a=[10,20,30,40,50]
print("original list a= ",a)
print("the reversed list is")
print(a[::-1])

original list a=  [10, 20, 30, 40, 50]
the reversed list is
[50, 40, 30, 20, 10]

11.write a code to create a tuple with elements 10,20,30 and print it .

In [37]:
# write a code to create a tuple with elements 10,20,30 and print it .


t=(10,20,30)
print(type(t),t)

for i in t:
  print(i,end=" ")

<class 'tuple'> (10, 20, 30)
10 20 30

12 write a code to access an element apple  of  tuple ("apple","banana","cherry")

In [ ]:
#  write a code to access an element 'apple'  of  tuple ("apple","banana","cherry")

mytup=("apple","banana","cherry")
x=mytup[0]                        #accessing and assigning first element to x
print(x)

apple

In [43]:
# 13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a=(1,2,3,2,4,2)
print("the  number of times it apperars=",a.count(2))

the  number of times it apperars= 3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [90]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals=('dog', 'cat', 'rabbit')
i=animals.index("cat")   #finding index
print("index of cat is",i)

index of cat is 1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [86]:
# 15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tup=("apple","orange","banana")
if "banana" in my_tup :
    print("The element 'banana' present in the tuple")
else:
  print("sorry u eneterd a wrong element")

The element 'banana' present in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [87]:
#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set_={1,2,3,4,5}
print(type (set_),set_)
set_.add("nani")     #adding an element
print(set_)

<class 'set'> {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'nani'}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [68]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}
set1={1, 2, 3, 4}
print(set1)
set1.add(6)
print("new set after adding 6 is set1= ",set1)

{1, 2, 3, 4}
new set after adding 6 is set1=  {1, 2, 3, 4, 6}

###**18-24 questions are repeated**

In [69]:
 # 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
 t=(10,20,30)
print(type(t),t)

for i in t:
  print(i,end=" ")

<class 'tuple'> (10, 20, 30)
10 20 30

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [70]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

mytup=("apple","banana","cherry")
x=mytup[0]                        #accessing and assigning first element to x
print(x)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [71]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
a=(1,2,3,2,4,2)
print("the  number of times it apperars=",a.count(2))

the  number of times it apperars= 3

21.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [72]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals=('dog', 'cat', 'rabbit')
i=animals.index("cat")
print(i)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [73]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tup=("apple","orange","banana")
if "banana" in my_tup :
    print("the element banana present in the tuple")
else:
  print("sorry u eneterd a wrong element")

the element banana present in the tuple

23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [74]:
# Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_={1,2,3,4,5}
print(set_)
set_.add("nani")     #adding an element
print(set_)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'nani'}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [89]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
print("set1= ",set1)
set1.add(6)
print("new set after adding 6 is set1= ",set1)

set1=  {1, 2, 3, 4}
new set after adding 6 is set1=  {1, 2, 3, 4, 6}